# Exclure les dépendances de Node.js
node_modules/
dist/
.build/

# Fichiers de logs et environnement
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store

# Exclure les fichiers de build du frontend
frontend/build/
frontend/node_modules/

# Exclure les fichiers de build du backend
backend/dist/
backend/node_modules/
